





.tt{

    
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 10px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(194, 0, 0), rgb(57, 214, 206), rgb(184, 17, 148));
    background-repeat: no-repeat;
    background-size: 100%;
    animation: animate 2s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.te{

   background-color:  teal;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');



  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 327px;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 50px 9px 8px 0 rgba(0, 0, 0, 0.2);
  
  }
  
  .container {
    padding: 10px 16px;
    width: 400px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
   
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  .ff{
      height:300px;
      width:300px;
      
  }